.productsContainer {
	display: flex;
	flex-wrap: wrap;
	font-size: 40px;
}

.productsContainer div {
	background-color: #efefef;
	box-shadow: 4px 4px 15px -5px rgba(12, 12, 12, 0.55);
	margin-top: 40px;
	margin-left: 70px;
	padding: 10px;
	border-radius: 20px;
}

img {
	width: 300px;
}
