.productsContainer {
	display: flex;
	flex-wrap: wrap;
	font-size: 40px;
}

.productsContainer div {
	background-color: #85e39f;
	margin-top: 40px;
	margin-left: 70px;
	padding: 10px;
	border-radius: 30px;
}
