.ProfileBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ProfileBarContainer .Profile {
	margin-bottom: 20px;
	text-decoration: underline;
	margin-bottom: 5px;
	cursor: pointer;
}

.ProfileBarContainer .Login {
	cursor: pointer;

	text-decoration: underline;
}
